*{
    margin:0;
    padding: 0;
    box-sizing:border-box;
}
.html{
    scroll-behavior: smooth;
}
body{
    width: 100%;
    height: 100%;
    font-family: sans-serif;
    letter-spacing: 0.03em;
    line-height: 1.6;
    font-size: 15px;
    



}
.nosotros {
    text-align: center;
    padding: 10px;
    font-size: 40px;
    margin-top: 20px;
    font-weight: 100;
    font-family: "Lato",sans-serif;
    color: #6a6a6a;
}
}
.card{
    width: 100%;
    display: flex;
    gap: 50px;
    flex-wrap: wrap;
    justify-content: center;
}
.card--perfil{
    padding: 20px;
    box-shadow:1px 1px 5px rgb(201, 201, 201) ;
    border:solid rgba(3, 133, 255, 0) 2px;
    border-radius: 10px;
    background-color: #C3E9FD;
}
.card--perfil:hover{
    border:solid rgb(3,133, 255) 2px;

}
.card--perfil:hover img {
    transform: rotate(0);
}
.card--perfil img{
    width: 140px;
    border-radius: 50%;
    box-shadow: 20x 2px 5px ;
    transform: rotate(-30deg);
    transition: all.3s;

}
.card--nombre{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
    font-family: "Lato",sans-serif;
    color: #6a6a6a;
}
}
hr{
    width: 100%;
    height: 4px;
    background: rgb(255, 250, 250);


}
.footer {
    margin-top: 30px;
}